<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ipl data project</title>
</head>
<body>
    <center>
    <h3><a href="/matchesplayedhighcharts"> Number of matches played per year for all the years in IPL in Highcharts</a></h3>
    <h3><a href="/matcheswonperyearhighcharts" >Number of matches won per team per year in IPL in Highcharts</a></h3>
    <h3><a href="/extrarunshighcharts">Extra extraruns conceded per team in the year 2016  in Highcharts</a></h3>
    <h3><a href="/economicbowlerhighcharts">Top 10 economical bowlers in the year 2015 in Highcharts</a></h3>
    <br>
    <h3><a href="/matchesplayed"> Number of matches played per year for all the years</a></h3>
    <h3><a href="/matcheswon">Number of matches won per team per year in IPL </a></h3>
    <h3><a href="/extrarunsperteam">Extra runs conceded per team in the year 2016 </a></h3>
    <h3><a href="/economicbowler">Top 10 economical bowlers in the year 2015 </a></h3>
    
    </center>

</body>
</html>